:root {
  --error-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
}


* {
  margin: 0;
  padding: 0;
}

#myBody {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 17%, rgba(201,0,0,1) 66%, rgba(0,0,0,1) 70%); */
  /* background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(201,0,0,1) 71%, rgba(0,0,0,1) 74%); */
  /* background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 17%, rgba(201,0,0,1) 61%, rgba(0,0,0,1) 71%); */
  /* background: rgb(93, 31, 31);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 17%, rgba(255, 255, 255, 1) 66%, rgba(0, 0, 0, 1) 70%); */
  /* background: rgb(93, 31, 31);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 17%, var(--gradient-color) 66%, rgba(0, 0, 0, 1) 70%);
  transition: background-color 2s ease; */
  background: rgb(93, 31, 31);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 17%, var(--gradient-color) 66%, rgba(0, 0, 0, 1) 70%);
  overflow: hidden;
}

/* nav circle */

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    " c1 . c2 "
    " . cc . "
    " c3 . c4 "
  ;
  width: 60vw;
  height: 80vh;
  z-index: 1;
}

.circle-one {
  background-color: rgb(0, 0, 0);
  grid-area: c1;
  /* animation: move-one 6s linear infinite; */
}

.circle-two {
  background-color: rgb(0, 0, 0);
  grid-area: c2;
  /* animation: move-two 6.4s linear infinite; */
}

.circle-three {
  grid-area: c3;
  /* animation: move-three 6.8s linear infinite; */
}

.circle-four {
  grid-area: c4;
  /* animation: move-four 7.2s linear infinite; */
}


.circle-center {
  grid-area: cc;
}

.circle {
  display: flex;
  position: absolute;
  width: 40%;
  height: 50%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgb(15, 18, 201);
  background: radial-gradient(circle, rgba(255, 226, 226, 1) 38%, rgb(221, 7, 7) 61%);
  z-index: -2;
  /* border: solid */

}

.title {
  display: none;
}


.circle:hover {
  height: 70%;
  width: 60%;

}

.circle:hover .title {
  display: flex;
}

.circle.active {

  height: 210vh;
  width: 210vw;
  z-index: -1;
  background-color: rgb(14, 53, 226);

}

.circle.active .title {
  display: none;
}

.container-grid-one {
  display: none;
}

/* build circle about */

.circle.active .container-grid-one {
  display: grid;
  height: 40%;
  width: 30%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . "
    "abt abt . moi "
    ". . . .  "
    ". . . . "
  ;
  /* background-color: rgb(240, 248, 255); */
}


.description {
  display: none;

}

.circle.active .description {
  grid-area: abt;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
}

.maphoto {
  display: none;
}

.circle.active .maphoto {
  grid-area: moi;
  width: 200%;
  animation: fade-in-two 1s linear 0s forwards;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fade-in-two {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* build circle skills */
.competences {
  display: none;

}

.circle.active .container-grid-two {
  display: grid;
  height: 60%;
  width: 90%;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . sk1 sk1 . . . ."
    ". . sk1 sk1 . . . ."
    ". . . sk2 sk2 . . ."
    ". . . sk2 sk2 . . ."
    ". . . . sk3 sk3 . ."
    ". . . . sk3 sk3 . ."
    ". . . . . sk4 sk4 ."
    ". . . . . sk4 sk4 ."
  ;
  /* background-color: rgb(240, 248, 255); */
}

.circle.active .competence-one {
  grid-area: sk1;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
}

.circle.active .competence-two {
  grid-area: sk2;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
}

.circle.active .competence-three {
  grid-area: sk3;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
}

.circle.active .competence-four {
  grid-area: sk4;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
}

/* build circle projects */

.project {
  display: none;
  background: rgba(232, 141, 29, 0.523);
  height: 120%;
  width: 50%;
  border-radius: 1.5em;

}

a {
  height: 100%;
  width: 100%;
}


.circle.active .container-grid-three {
  display: grid;
  height: 70%;
  width: 80%;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . . . "
    ". . . . . . . . "
    ". . . . . . . . "
    ". pj1 pj1 pj2 pj2 . . . "
    ". . . . . . . . "
    ". pj3 pj3 pj4 pj4 . . . "
    ". . . . . . . . "
  ;
  /* background-color: rgb(240, 248, 255); */
}

.circle.active .project-one {
  grid-area: pj1;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-image: url(image/image1.jpg);
  background-size: cover;
}



.circle.active .project-two {
  grid-area: pj2;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-image: url(image/image2.jpg);
  background-size: cover;
}

.circle.active .project-three {
  grid-area: pj3;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-image: url(image/image3.jpg);
  background-size: cover;
}

.circle.active .project-four {
  grid-area: pj4;
  font-size: xx-large;
  text-align: center;
  animation: fade-in 1s linear 0s forwards;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-image: url(image/image4.jpg);
  background-size: cover;
}

/* build contact circle */




/* input{ 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  margin: 2em;
  
} */

.form-field {
 
  margin-left: 5%;
  margin-bottom: 4%;
  
}

.form-field label {
  display: block;
  color: #777;
 
  
}

.form-field input {
  border: solid 2px #f0f0f0;
  padding: 1.5%;
  font-size: 40%;
  display: block;
  width: 90%;
  border-radius: 1.5em;
}

.form-field textarea {
  border-radius: 1.5em;
}
.form-field .button {
  border-radius: 1.5em;
  padding: 0.8em;
  width: 20%;
  margin-left: 36%;
}




.contact {
  display: none;
  background: rgb(226, 194, 194);
  border-radius: 1.5em;

}

.button:hover {
  cursor: pointer;
}

.form-field input:focus, .form-field select:focus {
  outline: none;
}

.form-field.error input {
  border-color: var(--error-color);
}
.form-field.error select {
border : 2px solid var(--error-color);
}

.form-field.success input {
  border-color: var(--success-color);
}
.form-field.success select {
border : 2px solid var(--success-color);
}


.form-field small {
  color: var(--error-color);
}



.circle.active .container-grid-four {
  display: grid;
  height: 70%;
  width: 80%;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . . . "
    ". . . ctc . . . . "
    ". . . ctc . mps . . "
    ". . . . . . . . "
    ". . . . . . . . "
    ". . . . . . . . "
    ". . . . . . . . "
  ;
  /* background-color: rgb(240, 248, 255); */
}

.circle.active .contact {
  grid-area: ctc;
  height: 150%;
  width: 150%;
  font-size:30px;
  animation: fade-in 1s linear 0s forwards;
  display: block;
  margin: auto;
 

}

#maps{
  display: none;
}

.circle.active #maps {
  grid-area: mps;
  height: 150%;
  width: 150%;
  border-radius: 1.5em;
  font-size:30px;
  display: flex;
  animation: fade-in 1s linear 0s forwards;
}

